{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block body %}
<nav class="navbar">
    <button class="logout-btn" onclick="document.getElementById('logout-form').submit();">Logout</button>
    <div class="profile-menu">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/005/129/844/small/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg" alt="Profile Icon" class="profile-icon" onclick="toggleProfileMenu()">
        <div class="profile-dropdown" id="profile-dropdown">
            <p><strong>Name:</strong> {{ username }}</p>
            <p><strong>Email:</strong> {{ email }}</p>
            <p><strong>Account Created On:</strong> {{ creation_date }}</p>
        </div>
    </div>
</nav>

<div class="dashboard">
    <h2>Welcome, {{ username }}!</h2>
</div>

<form id="logout-form" action="/logout" method="POST" style="display:none;">
    <button type="submit" style="display:none;"></button>
</form>

<div class="content">
    <form action="/room" method="POST">
        <center><input type="text" name="roomname" placeholder="Enter Room Name" required></center><br>
       <center> <button type="submit">Create Room</button></center>
    </form>

    <div class="rooms">
        <ul>
            <h3>Your Rooms:</h3>
            {% for room in rooms %}
            <a href="{{ url_for('room', roomname=room['roomname']) }}">{{ room['roomname'] }}</a><br><br><br>
 
            {% endfor %}
        </ul>
    </div>

</div>

<script>
function toggleProfileMenu() {
    const dropdown = document.getElementById('profile-dropdown');
    dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
}
</script>
{% endblock %}
