{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
<style>
    .content {
        transition: transform 0.3s ease-in-out;
    }

    .zoomed {
        transform: scale(1.2);
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="content" id="con" onclick="toggleZoom()">
        <h2>Login</h2>
        <form action="/login" method="post">
            <label for="email">Enter your email:</label>
            <input type="email" placeholder="e.g., john@gmail.com" name="email" required>

            <label for="password">Enter your password:</label>
            <input type="password" placeholder="e.g., 1d*(^*(Dsaf))" name="password" required>

            {% if message %}
            <p style="color: red;font-size:15px;font-weight:200">{{ message }}</p>
            {% endif %}

            <p>Don't have an account?
                <a href="/signin">Create one</a>
            </p>

            <input type="submit" value="Login"><br>
            <hr><center>OR</center>
        </form>
    </div>
</div>

<script>
    const container = document.getElementById("con");

    
    function toggleZoom() {
        if (!container.classList.contains("zoomed")) {
            container.classList.add("zoomed");
        }
    }
</script>
{% endblock %}
